@import url("./reset.css");

:root {
  --bg: #000000;

  -ms-overflow-style:none;
  scrollbar-width: none;
  
  background: black;
  color: white;

  margin: 0;
  padding:0;

  max-height: 100vh;
  overflow-x: hidden;

}
html::-webkit-scrollbar {
  display: none;
}
body {
}


.titlebar{ display: none; }