@import url("./reset.css");

:root {
  --bg: #000000;





  background: black;
  color: white;

  margin: 0;
  padding:0;

  max-height: 100vh;
  overflow-x: hidden;

  scroll-snap-type: y mandatory;
}

body {
}


