    
.main {
    position: absolute;
    inset: 0;
    max-height: 100vh;
    overflow: hidden;

    .header {
        --bg-image: "";
        position: absolute;
        background: center / contain url("/testbg.jpg");
        height: 100%;
        width: 100%;
        z-index: -1;


        &::after {
            content: "";
            position: absolute;
            inset: 0;
            display: block;
            background: linear-gradient(to top, var(--bg), #00000000)
        }
    }


}


.tabbedcontent {        
    scroll-snap-align: start;
    scroll-padding: 1rem;
    height: 100vh;
}  




@keyframes zoomInAndOut {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
  }
  
  .header {
    animation: zoomInAndOut 12s infinite;
  }
  